// Text Styles
@mixin textTitle {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.10em;
    font-weight: 800;
    text-transform: uppercase;
}

@mixin textBody {
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;    
    letter-spacing: 0.02em;
}

@mixin textHint {
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;    
    letter-spacing: 0.02em;
}

@mixin textButton {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.10em;
    font-weight: 800;
    text-transform: uppercase;
}