.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 250ms ease-out, transform 500ms ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(50px);
}