// Colors
$colorPrimary: #E44021;
$colorSecondary: #F69B11;
$colorWhite: #FFFFFF;
$colorBlack: #111821;
$colorBlackLight: #838D9A;
$button-col-disabled: #AAAAAA;

// Shadows
$shadowDefault: 0px 4px 10px rgba(0, 0, 0, 0.25);
$shadowDark: 0px 4px 10px rgba(0, 0, 0, 0.5);