// Colors
$white: #FFFFFF;
$black: #111821;
$light-black: #838D9A;
$grey: #E6E6E8;

$red: #E44021;

$petroleum: #166C72;
$dark-petroleum: #12565a;

// Fonts
$font-col-primary: $black;
$font-col-secondary: $white;
$font-col-light: $light-black;
$font-col-active: $petroleum;
$font-col-error: $red;

// Icons
$icon-col-primary: $petroleum;
$icon-col-black: $black;
$icon-col-white: $white;
$icon-col-light-black: $light-black;

// Links
$link-color: $petroleum;

// Backgrounds
$bg-col-primary: $white;
$bg-col-secondary: $petroleum;

// Textfield
$text-field-col: rgba(230, 230, 232, 0.2);

// Buttons
$button-col-primary: $petroleum;
$button-col-secondary: $dark-petroleum;
$button-col-disabled: $grey;

// Placeholders
$placeholder-col: rgba($font-col-light, .5);
$placeholder-col-active: rgba($font-col-active, .5);

// Shadows
$shadow-default: 0px 4px 10px rgba(0, 0, 0, 0.25);
$shadow-dark: 0px 4px 10px rgba(0, 0, 0, 0.5);

// Sizes
$nav-height: 56px;
$slider-width: 300px;
$map-marker-size: 32px;